.archive {
    .section-heading {

    }
    // .fade-in-img {
    //     position: relative;
    //     width: 100%;
    //     padding-bottom: 60%;
    //     img {
    //         position: absolute;
    //         width: 100%;
    //         height: 100%;
    //         object-fit: cover;
    //         left: 0;
    //         bottom: 0;
    //     }
    // }
    .archive-entry-title {
        text-align: center;
        font-family: roboto;
        font-size: 1.5rem;
        font-weight: 500;
        color: #111;
    }
    .latest-news__date {
        text-align: center;
        margin-top: 20px;
    }
}