
.latest-news-buttons, .archive-news-buttons {
    ul {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 45px;
        li {
            list-style: none;
            text-align: center;
            padding-left: 0;
            a {
                color: #111;
                border-bottom: none;
                font-weight: bold;
                &.active-news-button {
                    color: $maroon;
                }
                &:hover {
                    color: $maroon;
                }
            }
        }
    }
}
.latest-news {
    &__title {
        text-align: left;
        font-size: 1.5rem;
        font-weight: 500 !important;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #898989;
      font-family: Roboto, sans-serif;
    }
    &__date {
        font-size: 1rem;
        color: $gray;
        text-align: left;
        margin-bottom: .5em !important;
    }
    &__featured {
        img {
            margin-bottom: 30px;
        }
        .latest-news__title {
            font-size: 2.25rem;
            font-weight: normal;
        }
    }
    .vc_column-inner {
        &:last-child {
            .latest-news__title {
                border-bottom: none;
            }
        }
    }
}
.home-page-mission {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
    .hpm-link {
        position: relative;
        display: inline-block;
        &:before {
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            background-size: contain;
            bottom: 0;
            left: -3px;
        }
        a {
            border-bottom: none;
            color: #c41f41;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .who-we-are {
        padding-left: 55px;
        &:before {
            width: 47px;
            height: 35px;
            background-image: url('assets/images/homepage-icons/who-we-are.svg');
            bottom: -1px;
            left: -3px;
        }

    }
    .member-benefits {
        padding-left: 40px;
        &:before {
            width: 40px;
            height: 35px;
            background-image: url('assets/images/homepage-icons/member-benefits.svg');
            bottom: 1px;
            left: -7px;
        }

    }
    .join-renew {
        padding-left: 55px;
        &:before {
            width: 37px;
            height: 30px;
            background-image: url('assets/images/homepage-icons/join-renew.svg');
            bottom: 0px;
            left: 5px;
        }
    }
}
.program-link {
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    &__link {
        &:hover {
            text-decoration: none;
            .program-link__title {
                color: #ddd;
                border-bottom: none;
            }
        }
    }
    &__title {
        color: white;
        text-align: center;
        font-weight: bold;
        // &:hover {
        //     color: #ddd;
        // }
    }
    &:before {
        content: '';
        position: absolute;
        left: 10px;
        right: 10px;
        top: 10px;
        bottom: 10px;
        border: 1px solid white;
        z-index: 2;
    }
}
// .homepage-store-row {
//     .woocommerce {
//         ul.products {
//             li.product {
//                 width: 100%;
//                 margin: 0 0 3em 0;
//                 float: none;
//                 .price {
//                     display: none;
//                 }
//                 .button {
//                     display: none;
//                 }
//             }
//         }
//     }
// }
.tnfb-publication {
    // display: flex;
    // flex-direction: row;
    background-color: white;
    margin-bottom: 50px;
    &__text-container {

        padding: 40px 0 40px 40px;
    }
    &__title {
        font-weight: 700;
        font-family: Roboto;
        font-size: 2rem;
    }
    &__description {
        font-size: 1rem;
    }
    &__read-more {
        a {
            color: $maroon;
            text-transform: uppercase;
            font-weight: bold;
        }   
    }
    &__img-container {
        padding: 40px
    }
}
.video-section-container {
    .main-player {
        position: relative;
        height: 0;
        padding-top: 56%;
        margin-bottom: 30px;
        iframe {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        .video-overlay {
            position: absolute;
            bottom: 10px;
            left: 10px;
            color: white;
            background: rgba(0, 0, 0, 0.7);
            padding: 5px 10px;
            border-radius: 3px;
            font-size: 14px;
            display: flex;
            align-items: center;
            z-index: 10;
            .copy-link {
                margin-left: 10px;
                cursor: pointer;
            }
        }
    }
    .side-videos {
        margin-bottom: 30px;
    }
    .video-item {
        background-color: white;
        padding: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        border: none; /* Remove any borders */
        margin-bottom: 15px;
        img {
            width: 120px;
            height: 68px;
            margin-right: 10px;
            flex-shrink: 0;
            border: none; /* Explicitly remove borders */
        }
        &:hover {
            background-color: #eee;
        }
    }
    .video-title {
        font-size: 14px;
    }
}
.news-ticker {
    border: 1px solid #a2a2a2;
    border-radius: 3px;
    padding: 8px 14px;
    margin-top: 30px;
    margin-bottom: 30px;
    &__title {
        background-color: $darkblue;
        padding: 8px 14px;
        color: white;
        text-align: center;
        margin-bottom: 10px;
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    &__display-area {
        position: relative;
        overflow-x: hidden;
        padding: 0 15px;
        flex-grow: 1;
        height: 35px;
    }
    &__post {
        position: absolute;
        opacity: 0;
        z-index: 0;
        transition: all 2s;
        top: 6px;
        left: 25px;
        color: #111;
        text-align: center;
        a {
            white-space: nowrap;
        }
        &.active {
            opacity: 1;
            z-index: 1;
            left: 0;
        }
    }
}
@media screen and (min-width: 992px) {
    .latest-news {
        &.vc_row {
            display: flex;
            flex-direction: row;
            > .wpb_column {
                float: none;
                &:first-child {
                    order: 2;
                }
                &:last-child {
                    order: 3;
                }
            }
        }
    }
    .latest-news-buttons, .archive-news-buttons {
        ul {
            flex-direction: row;
            justify-content: center;
            li {
                padding-left: 35px;
            }
        }
        
    }
    .video-section-container {
        display: flex;
        flex-direction: row;
        .main-player {
            flex: 2;
            height: 0;
            padding-top: 36%;
            margin-right: 20px;
        }
        .side-videos {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 15px;
        }
        .video-item {
            margin-bottom: 0;
            flex-basis: 25%;
        }
    }
    .news-ticker {
        display: flex;
        flex-direction: row;
        align-items: center;
        &__title {
            text-align: left;
            margin-right: 20px;
            margin-bottom: 0;
        }
        &__post {
            text-align: left;
        }
    }
}