@use "colors";

.footer-newsletter {
    background-color: #c41f41;
    padding-top: 50px;
    padding-bottom: 50px;
    > .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__in-the-loop {
        font-family: "santelia-rough-two", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 4rem;
        color: white;
        text-align: center;
        
        
    }
    &__description {
        p {
            color: #fff;
            text-align: center;
            font-size: 1rem;
        }
        
    }
    &__button {
        display: inline-block;
        color: colors.$maroon;
        background-color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.125rem;
        font-family: 'Open Sans', sans-serif;
        min-width: 250px;
        padding: 20px;
    }
    &__first-button {
        margin-right: 0;
        margin-bottom: 30px;
    }
}
.footer-bottom {
    padding: 60px 0 30px;
}
.footer-menu {
    ul {
        li {
            display: block;
            text-transform: uppercase;
            font-size: 1.125rem;
            text-align: center;
        }
    }
}
.footer-left-block {
    font-size: 1.125rem;
}
#footer {
    .footer-socials {
        ul {
            text-align: center;
        }
    }
    .footer-left-block {
        text-align: center;
    }
}
.footer-logo {
    text-align: center;
}
@media screen and (min-width: 992px) {

    #footer {
        .footer-bottom {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
        .footer-right-block {
            flex-grow: 1;
            margin-left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .footer-center-block {
            flex-grow: 1;
            border-right: 1px solid white;
        }
        .footer-left-block {
            flex-grow: 1;
            border-right: 1px solid white;
            display: flex;
            flex-direction: row;
            text-align: left;
        }
        .footer-socials {
            ul {
                text-align: left;
            }
        }
    }
    .menu-footer-menu-container {
        display: flex;
        justify-content: center;
    }
    .footer-menu {
        ul {
            li {
                text-align: left;
            }
        }
    }
    .footer-logo {
        text-align: left;
    }
}

@media screen and (min-width: 1200px) {
    .footer-newsletter {
        > .container {
            display: flex;
            flex-direction: row;
            // align-items: flex-start;
        }
        &__in-the-loop {
            padding-right: 30px;
            flex-shrink: 0;
            margin-bottom: 0;
        }
        &__description {
            padding-right: 15px;
            padding-left: 15px;
            text-align: left;
            margin-bottom: 0;
        }
        &__first-button {
            margin-right: 30px;
            margin-bottom: 0;
        }
    }
}