html {
    font-size: 16px;
}
body {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    // padding-top: 100px;
    &:not(.home) {
        padding-top: 125px;
    }
    p {
        font-size: 1.125rem;
    }
}
.object-fit-image {
    position: relative;
    width: 100%;
    padding-bottom: 80%;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        left: 0;
        bottom: 0;
    }
}
.entry-content {
    ul {
        > li {
            list-style: unset;
            padding-left: 5px;
            &:before { // undo silliness added by visual composer styles
                content: '';
                display: none;
            }
        }
    }
    p {
        a {
            border-bottom: none;
        }
    }
    a:not(.program-link__link) {
        &:hover {
            text-decoration: underline !important;
        }
    }
}
@media screen and (min-width: 1200px) {
    .container {
        width: unset;
        max-width: 1365px;
    }
}

// roboto medium 