body {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5;
}
.entry-content {
    ul {
        > li {
            &:before { // undo silliness added by visual composer styles
                content: '';
                display: none;
            }
        }
    }
}
@media screen and (min-width: 1200px) {
    .container {
        width: unset;
        max-width: 1365px;
    }
}

// roboto medium 