h2, h3, h4 {
    font-family: open-sans, sans-serif;
    font-weight: 500;
}

h2 {
    font-size: 3.125rem;
}

.section-heading {
    border-bottom: 1px solid  black;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
}