#main-menu {
    background-color: white;
    ul {
        li {
            a {
                text-transform: uppercase;
                font-family: Roboto, sans-serif;
                font-size: 1rem;
                font-weight: bold;
            }
        }
    }
    > ul {
        > li {
            > a {
                color: black;
                &:hover {
                    color: black;
                }
            }
        }
    }
    .button-close {
        color: black;
    }
    .dropdown-toggle {
        color: black;
        &:after {
            display: none;
        }
    }
    &.open {
        ul {
            &.sub-menu {
                li {
                    text-indent: 10px;
                    a {
                        color: black;
                        &:hover {
                            text-decoration: underline;
                            color: black;
                        }
                    }
                 }
            }
          
        }
    }
} 
.header-social {
    padding-left: 0;
    display: none;
    flex-direction: row;
    margin-top: 10px;
    
    li {
        list-style: none;
        margin-left: 10px;
        &:first-child {
            margin-left: 0;
        }
        a {
            display: inline-block;
            background-color: #3b4335;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border-bottom: none;

        }
        img {
            height: 20px;
            position: relative;
        }
        &.facebook {
            img {
                left: 8px;
                top: -3px;
            }
        }
        &.instagram {
            img {
                left: 7px;
                top: -3px;
            }
        }
        &.youtube {
            img {
                left: 4px;
                top: -3px;
            }
        }
        &.twitter {
            img {
                left: 5px;
                top: -3px;
            }
        }
    }
}
.secondary-nav-container {
    display: none;
}
.navbar-toggle {
    .icon-bar {
        background-color: white;
    }
}
.navbar-wrapper {
    padding: 0;
}
.voa-logo {
    display: none;
}
@media only screen and (min-width: 768px) {
    body {
        &:not(.menu-sandwich) {
       
            #main-menu {
                background-color: transparent;
                display: flex;
                margin: 0 40px;
                ul {
                    li {
                        &:hover {
                            background-color: #fff;
                            color: $maroon;
                            a {
                                color: $maroon;
                                background-color: #eee !important;
                            }
                        }
                        a {
                            &:hover {
                                color: $maroon !important;
                            }
                        }
                        &.menu-item-has-children {
                            >a {
                                padding-right: 0.83em;
                                &:before {
                                    content: '';
                                }
                            }
                        }
                    }
                    &.sub-menu {
                        li {
                            a {
                                color: #000;
                                &:hover {
                                    color: $maroon;
                                }
                            }
                        }
                    }
                }
                >ul {
                    >li {
                        
                        >ul {
                            margin-top: 0;
                            box-shadow: none;
                        }
                    }
                }
            }
        }
        &:not(.home) {
            &:not(.menu-sandwich) {
                .navbar {
                    padding: 0;
                    background: linear-gradient(to top, rgba(230, 230, 230, 1) 0%, rgba(230, 230, 230, 0.1) 4%, rgba(17, 17, 17, 0) 6%);
                }
                #main-menu {
                    ul {
                        li {
                            &.current-menu-item {
                                > a {
                                    color: #000;
                                }
                            }
                            a {
                                color: #000;
                                &:hover {
                                    color: #000;
                                }
                            }
                            ul {
                                li {
                                    &:hover {
                                        background-color: #fff;
                                        > a {
                                            background-color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .navbar-header {
            // padding-bottom: 20px;
        }
       
    }
    .header-social {
        display: flex;
    }
    .secondary-nav-container {
        display: block;
        background-color: $maroon;
        width: 100%;
    }
    .secondary-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 840px;
        margin: 10px auto;

        li {
            list-style: none;
        }
        a {
            color: white;
            text-transform: uppercase;
            font-family: Roboto, sans-serif;
            font-size: 1rem;
            font-weight: bold;
            &:hover {
                color: white !important;
            }
        }
    }
}
@media only screen and (min-width: 1024px) {
    body {
        &.header-full-width {
            .navbar {
                padding-left: 0; // parent override
                padding-right: 0;
            }
        }
    }
    .voa-logo {
        display: inline-block;
    }
}