#main-menu {
    background-color: white;
    ul {
        li {
            a {
                text-transform: uppercase;
                font-family: Roboto, sans-serif;
                font-size: 1rem;
                font-weight: bold;
            }
        }
    }
    > ul {
        > li {
            > a {
                color: black;
                &:hover {
                    color: black;
                }
            }
        }
    }
} 
.header-social {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    li {
        list-style: none;
        margin-left: 10px;
        &:first-child {
            margin-left: 0;
        }
        a {

        }
        img {
            height: 20px;
        }
    }
}
.secondary-nav-container {
    display: none;
}
@media only screen and (min-width: 768px) {
    body {
        &:not(.menu-sandwich) {
            #main-menu {
                background-color: transparent;
                ul {
                    li {
                        &:hover {
                            background-color: #fff;
                            a {
                                color: $maroon;
                            }
                        }
                        &.menu-item-has-children {
                            >a {
                                &:before {
                                    content: '';
                                }
                            }
                        }
                    }
                }
            }
        }
        &:not(.home) {
            &:not(.menu-sandwich) {
                #main-menu {
                    ul {
                        li {
                            a {
                                color: #000;
                                &:hover {
                                    color: #000;
                                }
                            }
                        }
                    }
                }
            }
        }
        .navbar-header {
            padding-bottom: 20px;
        }
        .navbar {
            padding-bottom: 0;
        }
    }
    .secondary-nav-container {
        display: block;
        background-color: $maroon;
        width: 100%;
    }
    .secondary-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 840px;
        margin-left: auto;
        margin-right: auto;

        li {
            list-style: none;
        }
        a {
            color: white;
            text-transform: uppercase;
            font-family: Roboto, sans-serif;
            font-size: 1rem;
            font-weight: bold;
        }
    }
}
@media only screen and (min-width: 1024px) {
    body {
        &.header-full-width {
            .navbar {
                padding-left: 0; // parent override
                padding-right: 0;
            }
        }
    }
}