#main-menu {
    background-color: white;
    ul {
        li {
            a {
                text-transform: uppercase;
                font-family: Roboto, sans-serif;
                font-size: 1rem;
                font-weight: bold;
            }
        }
    }
    > ul {
        > li {
            > a {
                color: black;
                &:hover {
                    color: black;
                }
            }
        }
    }
} 
.header-social {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    li {
        list-style: none;
        margin-left: 10px;
        &:first-child {
            margin-left: 0;
        }
        a {

        }
        img {
            height: 20px;
        }
    }
}

@media only screen and (min-width: 768px) {
    body {
        &:not(.menu-sandwich) {
            #main-menu {
                background-color: transparent;
                ul {
                    li {
                        &.menu-item-has-children {
                            >a {
                                &:before {
                                    content: '';
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}