.block-layout-1 {
    // display: flex;
    // flex-direction: row;
    margin-left: -3px !important;
    margin-right: -3px !important;
    .td_block__item {
        // width: 33.333%;
        padding-left: 3px !important;
        padding-right: 3px !important;
        position: relative;
        overflow-y: hidden;
        a {
            position: relative;
            display: block;
        }
    }
    .td_block__image {
        width: 100%;
        height: auto;
    }
    .td_block__meta {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        min-height: 100px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .td_block__title {
        padding: 20px 11px 11px;
        color: white;
    }
}
.block-layout-2 {
    .td_block {
        &__item {
            // display: flex;
            // flex-direction: row;
            margin-bottom: 30px;
            > a {
                // width: 30%;
            }
        }
        &__text-area {
            // width: 70%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
        }
    }
}
.td_block_text_with_title {
    .block-title {
        border-bottom: 2px solid #222;
        line-height: 1.75em;
        span {
            color: white;
            background-color: $darkblue;
            padding: 10px 12px 8px 12px;
        }
        a {
            color: white;
        }
    }
}
.block-layout-3 {
    .td_block {
        &__item {
            a {
                color: black;
            }
            &.small {
                margin-bottom: 15px;
                h4 {
                    font-size: 1rem;
                }
            }
        }
    }
}
.block-layout-4 {
    .td_block {
        &__item {
            position: relative;
            height: 250px;
        }
        &__link {
            display: block;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            &:after {
                content: '';
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: rgba(0,0,0,0.4);
            }
        }
        &__title {
            text-align: center;
            position: absolute;
            width: 100%;
            color: white;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
        }
    }
}