.home {
    // .vc_featured_products {
        .woocommerce {
            .woocommerce-loop-product__title {
                text-align: center;
            }
            // using filter to hide now
            ul.products {
                li.product {
                    .price {
                        display: none !important;
                    }
                    .add_to_cart_button {
                        display: none;
                    }
                    a {
                        border-bottom: none !important;
                    }
                }
            }
        }
    // }
}